.footer {
    background: #1E1A1B;
    padding: 2rem 0;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__nav {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    &__item {
        color: #fff;
        margin-right: 3rem;

        &--icon {
            margin-right: 1rem;
        }
    }

    &__link {
        color: #FFF;

        &:hover {
            text-decoration: none;
            color: #EB4D37;
        }
    }
}